<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% block baseblock %} 
        <div class="contact" id="contact">
            <h2 class="heading">Contact <span>Me</span></h2>
            <form method="post" action="/portfolio/resume/">
                {% csrf_token %}
                <div class="input-box">
                    <div class="input-field">
                        <input type="text" id="name" name="name" placeholder="Full Name" required> 
                        <span class="focus"></span>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Email" id="email" name="email" required> 
                        <span class="focus"></span>
                    </div>
                </div>

                <div class="input-box">
                    <div class="input-field">
                        <input type="phone" name="phone" id="phone" placeholder="Number" required> 
                        <span class="focus"></span>
                    </div>
                    <div class="input-field">
                        <input type="text" name="esub" id="esub" placeholder="Email Subject" required> 
                        <span class="focus"></span>
                    </div>

                    
                </div>
                <div class="textarea-field">
                    <textarea name="content" id="content" cols="30" rows="10" placeholder="Write here....."></textarea>
                    <span class="focus"></span>
                </div>
                <div class="btn-box btn">
                    <button type="submit" value="submit" class="btn">Submit</button>
                </div>
            </form>
        </div>



        <!-- <div class="container my-5">
            <link rel="stylesheet" href="{% static 'css/contact.css' %}"/>
            <h3 class="pb-2 mb-4 border-bottom border-info">Fill The Form To Contact BlogStation Admin</h3>
            <form method="post" action="/blog_station/contactme/">
                {% csrf_token %}
                <div class="form-group my-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
                </div>
                <div class="form-group my-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group my-3">
                    <label for="phone" class="form-label">Phone No</label>
                    <input type="phone" class="form-control" name="phone" id="phone">
                </div>
                <div class="form-group my-3">
                    <label for="content">Message</label>
                    <textarea class="form-control" name="content" id="content" cols="30" rows="7"></textarea>
                </div>
                <center>
                    <input type="submit" class="btn btn-success my-3" value="Submit">
                </center>
            </form>
        </div> -->
    {% endblock %}
</body>
</html>