<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio Website</title>
</head>
<body>
    {% block baseblock %}
        <div class="skills">
            <h3 class="heading">Coding <span>Skills</span></h3>
            <div class="skills-rows">
                <div class="skills-col">
                    <h3 class="title">Full <span>Stack</span></h3>
                    <div class="skills-box">
                        <div class="skills-content">
                            <div class="progress">
                                <h3>Python <span>80%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>

                            <div class="progress">
                                <h3>Django <span>80%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>

                            <div class="progress">
                                <h3>CSS <span>70%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>

                            <div class="progress">
                                <h3>HTML <span>70%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="skills-col">
                    <h3 class="title">Data <span>Science</span></h3>
                    <div class="skills-box">
                        <div class="skills-content">
                            <div class="progress">
                                <h3>SQL <span>90%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>

                            <div class="progress">
                                <h3>MySQL <span>90%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>

                            <div class="progress">
                                <h3>Tableau <span>70%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>

                            <div class="progress">
                                <h3>ML <span>65%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>